* {
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans KR";
	background-color: #fff3e5;
	width: 100vw;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
}

/* 데스크탑 레이아웃 */
@media screen and (min-width: 1024px) {
	body {
		min-height: 100vh;
		word-break: keep-all;
		overflow-wrap: break-word;
		overflow: hidden;
		/* 브라우저 전체 스크롤 막기 */
	}

	.wrap {
		display: flex;
		max-width: 1920px;
		margin: 0px auto;
		min-height: 100vh;
	}

	main {
		width: 870px;
		padding: 60px;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	main div {
		flex-shrink: 0;
		/* 스크롤이 생길 때 flex는 자동으로 크기를 줄이려 하는데, 이걸 막는 역할 */
		height: 270px;
	}

	main div h1 {
		position: relative;
		font-size: 105px;
		color: #ffc72c;
		-webkit-text-stroke: 2px #000;
		/* 안정적으로 보이게 */
		text-stroke: 2px #000;
		/* 호환성 위해 같이 */
		margin-bottom: 50px;
		white-space: nowrap;
		/* 한 줄로 유지 */
	}

	main div h1::after {
		content: "Jeong Dareum";
		/* 텍스트 겹치기 효과 */
		position: absolute;
		left: 10px;
		color: #fff;
		-webkit-text-stroke: 2px #000;
		/* 안정적으로 보이게 */
		text-stroke: 2px #000;
		/* 호환성 위해 같이 */
	}

	main div p {
		font-size: 16px;
		line-height: 20px;
	}

	main section {
		flex: 1;
		overflow-y: auto;
		min-height: 0;
		/* flex 안에서 스크롤 가능하게 허용 */
	}

	/* 아코디언 리스트 간격 */
	main section li:not(:last-of-type) {
		margin-bottom: 5px;
	}

	/* 아코디언 제목 */
	.accComponent li h2 {
		background-color: #ffc72c;
		font-size: 26px;
		font-weight: 700;
		height: 60px;
		line-height: 60px;
		padding: 0 20px;
		border-radius: 10px;
		cursor: pointer;
		position: relative;
	}

	/* 아코디언 화살표 */
	.accComponent li h2:after {
		content: "▼";
		/* 기본 닫힘 상태 */
		display: inline-block;
		margin-left: 10px;
		font-size: 18px;
		transition: transform 0.3s;
	}

	.accComponent li h2.active:after {
		transform: rotate(180deg);
		/* 열림 상태 */
	}

	/* 아코디언 내용 테이블 */
	.accComponent li table {
		display: none;
		width: 100%;
		font-size: 16px;
		padding: 10px;
	}

	.accComponent li table tr {
		height: 50px;
		line-height: 30px;
	}

	table {
		width: 100%;
	}

	td {
		padding: 10px 25px;
	}

	td:nth-last-child(2) {
		padding: 10px 0;
	}

	td:first-of-type {
		width: 260px;
	}

	td:last-of-type {
		width: 290px;
	}

	tr {
		position: relative;
	}

	/* tr::after {
		content: "";
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 0;
		border-bottom: 1px solid black;
		display: block;
	} */
	tr::after {
		display: none;
	}

	td {
		position: relative;
	}

	td::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: #000;
	}

	td:first-child::after {
		left: 20px;
		width: calc(100% - 20px);
	}

	td:last-child::after {
		width: calc(100% - 20px);
	}

	/* 더보기 버튼 */
	.accComponent li button {
		display: none;
		padding: 10px 16px;
		font-size: 16px;
		cursor: pointer;
		background-color: transparent;
		border: none;
	}

	.accComponent li:last-of-type table td::after {
		height: 0px;
	}

	.accComponent li:last-of-type table td {
		display: block;
		width: 100%;
		padding: 0px 25px;
	}

	.accComponent li:last-of-type table td:last-child::after {
		height: 1px;
		left: 20px;
		width: calc(100% - 40px);
	}

	.accComponent li:last-of-type table td:first-of-type {
		padding: 10px 25px 0px;
	}

	.accComponent li:last-of-type table td:last-of-type {
		padding: 0px 25px 10px;
	}

	.accComponent li:last-of-type table a:hover {
		border-bottom: #ffc72c 3px solid;
	}

	/* 사이드 영역 */
	aside {
		flex: 1;
		padding: 60px 60px 60px 0px;
		text-align: center;
	}

	aside div {
		display: none;
	}

	aside img {
		width: 248px;
		height: auto;
		border-radius: 10px;
		border: 2px solid #000;
		margin-bottom: 20px;
		transition: transform 0.3s;
		/* 이미지에 호버 시 살짝 확대 */
	}

	aside img:hover {
		transform: scale(1.05);
	}

	aside strong {
		display: block;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 5px;
	}

	aside p {
		font-size: 14px;
		font-weight: 500;
		color: #555;
		line-height: 18px;
		margin-bottom: 20px;
	}

	aside a {
		display: inline-block;
		width: 260px;
		height: 40px;
		font-size: 16px;
		font-weight: 700;
		padding: 10px 0px;
		border-radius: 10px;
		border: 2px solid #000;
		background-color: #fff;
		color: #222;
		transition: all 0.3s;
		margin-bottom: 20px;
	}

	aside a:hover {
		background-color: #ffc72c;
		color: #000;
	}

	aside ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		margin: 0 auto;
		gap: 8px;
	}

	aside ul li {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	aside ul li span {
		font-size: 14px;
		line-height: 18px;
	}

	.material-symbols-outlined {
		font-size: 16px;
	}

	aside ul li:nth-child(2) p {
		margin-top: 10px;
		font-size: 14px;
		line-height: 18px;
		color: #777;
		margin: 0;
	}
}

/* 모바일 레이아웃 */
@media screen and (max-width : 1023px) and (min-width: 280px) {

	.wrap {
		max-width: 650px;
		margin: 0px auto;
		padding: 4%;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	main {
		display: flex;
		flex-direction: column;
		order: 2;
	}

	main div {
		display: none;
	}

	/* 아코디언 리스트 간격 */
	main section li:not(:last-of-type) {
		margin-bottom: 5px;
	}

	/* 아코디언 제목 */
	.accComponent li h2 {
		background-color: #ffc72c;
		font-size: 14px;
		font-weight: 700;
		height: 40px;
		line-height: 40px;
		padding: 0 20px;
		border-radius: 10px;
		cursor: pointer;
		position: relative;
	}

	/* 아코디언 화살표 */
	.accComponent li h2:after {
		content: "▼";
		/* 기본 닫힘 상태 */
		display: inline-block;
		margin-left: 10px;
		font-size: 10px;
		transition: transform 0.3s;
	}

	.accComponent li h2.active:after {
		transform: rotate(180deg);
		/* 열림 상태 */
	}

	/* 아코디언 내용 테이블 */
	.accComponent li table {
		display: none;
		width: 100%;
		font-size: 14px;
		padding: 10px;
	}

	.accComponent li table tr {
		height: 40px;
		line-height: 30px;
	}

	table {
		width: 100%;
	}

	td {
		display: block;
		padding: 0px 25px;
	}

	td:first-of-type {
		padding: 10px 25px 0px;
	}

	td:last-of-type {
		padding: 0px 25px 10px;
	}

	tr {
		position: relative;
	}

	/* tr::after {
		content: "";
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 0;
		border-bottom: 1px solid black;
		display: block;
	} */
	tr::after {
		display: none;
	}

	td {
		position: relative;
	}

	/* td::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: #000;
	}

	td:first-child::after {
		left: 20px;
		width: calc(100% - 20px);
	} */

	td:last-child::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: calc(100% - 40px);
	height: 1px;
	background: #000;
	}

	/* 더보기 버튼 */
	.accComponent li button {
		display: none;
		padding: 10px 16px;
		font-size: 14px;
		cursor: pointer;
		background-color: transparent;
		border: none;
	}

	.accComponent li:last-of-type table td:nth-child(2) {
		line-height: 18px;
	}

	.accComponent li:last-of-type table a:hover {
		border-bottom: #ffc72c 3px solid;
	}

	/* 사이드 영역 */
	aside {
		text-align: center;
		order: 1;
	}

	aside>div>strong {
		display: block;
		position: relative;
		font-size: clamp(34px, 8vw, 105px);
		left: 50%;
		transform: translateX(-51%);
		color: #ffc72c;
		-webkit-text-stroke: 1px #000;
		/* 안정적으로 보이게 */
		text-stroke: 1px #000;
		/* 호환성 위해 같이 */
		/* margin-bottom: 50px; */
		white-space: nowrap;
		/* 한 줄로 유지 */
	}

	aside>div>strong::after {
		content: "Jeong Dareum";
		/* 텍스트 겹치기 효과 */
		position: absolute;
		left: 50%;
		transform: translateX(-47.7%);
		color: #fff;
		-webkit-text-stroke: 1px #000;
		/* 안정적으로 보이게 */
		text-stroke: 1px #000;
		/* 호환성 위해 같이 */
	}

	aside>div>p {
		font-size: 12px;
		line-height: 16px;
		margin-top: 30px;
		margin-bottom: 20px;
	}

	aside img {
		width: 80%;
		max-width: 240px;
		height: auto;
		border-radius: 10px;
		border: 1px solid #000;
		margin-bottom: 20px;
	}

	aside>strong {
		display: block;
		font-size: 18px;
		font-weight: 700;
		line-height: 22px;
		margin-bottom: 5px;
	}

	aside>p {
		font-size: 12px;
		font-weight: 500;
		color: #555;
		line-height: 16px;
		margin-bottom: 20px;
	}

	aside a {
		display: inline-block;
		width: 260px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		font-weight: 700;
		border-radius: 10px;
		border: 1px solid #000;
		background-color: #fff;
		color: #222;
		transition: all 0.3s;
		margin-bottom: 20px;
	}

	aside a:hover {
		background-color: #ffc72c;
		color: #000;
	}

	aside ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		margin: 0 auto;
		gap: 8px;
	}

	aside ul li {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	aside ul li span {
		font-size: 12px;
		line-height: 16px;
	}

	.material-symbols-outlined {
		font-size: 14px;
	}

	aside ul li:nth-child(2) p {
		margin-top: 10px;
		font-size: 12px;
		line-height: 16px;
		color: #777;
		margin: 0;
	}
}