* {
  box-sizing: border-box;
}

body {
  font-family: "Jua", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #222;
  background-color: #fff3e0;
  word-break: keep-all;
  overflow-wrap: break-word;
}

main {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  /* IE, Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;
}

/* 크롬, 사파리 */
main::-webkit-scrollbar {
  display: none;
}

/* 섹션 스냅 */
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

a {
  text-decoration: none;
  color: inherit;
}



@media screen and (min-width:1280px) {
  body {
    font-size: 18px;
  }

  main {
    margin-top: 100px;
    height: calc(100vh - 100px);
  }

  #visual,
  #varieties,
  #benefits,
  #recipes,
  #growing,
  #galler {
    height: calc(100vh - 100px);
  }

  #proverb,
  #quiz {
    height: calc((100vh - 100px) / 2);
  }

  .moreBtn {
    font-size: 16px;
    font-weight: 100;
  }

  .moreBtn:hover {
    color: #e53935;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff3e0;
    z-index: 100;
    align-items: center;
    border-bottom: #e53935 2px solid;
  }

  header>div {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 2%;
    display: flex;
    align-items: center;
  }

  /* logo */
  header>div h1 a {
    display: block;
  }

  header>div h1 a img {
    height: 60px;
    display: block;
  }

  /* nav */
  header>div nav {
    flex: 1;
  }

  header>div nav ul {
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  header>div nav ul li a {
    position: relative;
  }

  header>div nav ul li a:hover {
    color: #e53935;
  }

  header>div nav ul li a:after {
    content: '';
    position: absolute;
    width: 0%;
    /* 처음에는 밑줄이 안 보임 */
    height: 2px;
    background: #e53935;
    left: 0;
    bottom: -4px;
    transition: width 0.3s;
    /* 밑줄 길이 늘어나는 애니메이션 */
  }

  header>div nav ul li a:hover:after {
    width: 100%;
  }

  /* search */
  .searchBox {
    position: relative;
  }

  .searchBox input[type="search"] {
    width: 200px;
    height: 40px;
    padding: 0 40px 0 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
  }

  .searchBox button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('../images/icon_search.svg') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .searchBox input::placeholder {
    font-family: 'Jua';
    font-size: 16px;
  }

  /* 햄버거 */
  .hamburger {
    display: none;
  }



  /* footer */
  .footer {
    background-color: #2e7d32;
    color: #fff3e0;
    padding: 60px 20px 30px;
    /* margin-top: 80px; */
  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  /* 상단 메시지 */
  .footer-top h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .footer-top p {
    font-size: 14px;
    opacity: 0.8;
  }

  /* 링크 영역 */
  .footer-links {
    margin: 30px 0;
  }

  .footer-links a {
    margin: 0 15px;
    color: #F5F1E8;
    text-decoration: none;
    font-size: 14px;
    transition: opacity 0.3s;
  }

  .footer-links a:hover {
    opacity: 0.6;
  }

  /* 하단 */
  .footer-bottom {
    font-size: 12px;
    opacity: 0.6;
  }
}

@media screen and (min-width:768px) and (max-width:1279px) {
  body {
    font-size: 16px;
  }

  main {
    margin-top: 80px;
    height: calc(100vh - 80px);
  }

  #visual,
  #varieties,
  #benefits,
  #recipes,
  #growing,
  #galler {
    height: calc(100vh - 80px);
  }

  #proverb,
  #quiz {
    height: calc((100vh - 80px) / 2);
  }

  .moreBtn {
    font-size: 14px;
    font-weight: 100;
  }

  .moreBtn:hover {
    color: #e53935;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: #fff3e0;
    border-bottom: 2px solid #e53935;
    z-index: 100;
  }

  header>div {
    height: 100%;
    padding: 15px 3%;
    display: flex;
    align-items: center;
  }

  /* logo */
  header>div h1 {
    order: 1;
  }

  header>div h1 a {
    display: block;
  }

  header>div h1 a img {
    height: 50px;
    display: block;
  }

  /* search */
  .searchBox {
    order: 2;
    margin-left: auto;
    position: relative;
  }

  .searchBox input[type="search"] {
    width: 200px;
    height: 40px;
    padding: 0 40px 0 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
  }

  .searchBox button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('../images/icon_search.svg') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .searchBox input::placeholder {
    font-family: 'Jua';
    font-size: 16px;
  }

  /* 햄버거 */
  .hamburger {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    margin-left: 20px;
    cursor: pointer;
  }

  .hamburger div {
    width: 20px;
    height: 2px;
    background: #333;
    border-radius: 2px;
    transition: 0.3s;
  }

  /* nav */
  nav {
    position: fixed;
    top: 80px;
    right: 0;
    width: calc(100% / 3);
    height: calc(100vh - 80px);
    background: #fff3e0;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: 0.3s ease;
    padding: 20px;
    pointer-events: none;
    /* 클릭 막기 */
  }

  nav.active {
    transform: translateX(0);
    pointer-events: auto;
    /* 열렸을 때만 클릭 가능 */
  }

  /* 메뉴 리스트 */
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  nav ul li a {
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding: 10px 0;
    color: #333;
  }

  nav ul li a:hover {
    color: #e53935;
  }



  /* footer */
  .footer {
    background-color: #2e7d32;
    color: #fff3e0;
    padding: 60px 20px 30px;
    /* margin-top: 80px; */
  }

  .footer-container {
    /* max-width: 1200px; */
    margin: 0 auto;
    text-align: center;
  }

  /* 상단 메시지 */
  .footer-top h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .footer-top p {
    font-size: 14px;
    opacity: 0.8;
  }

  /* 링크 영역 */
  .footer-links {
    margin: 30px 0;
  }

  .footer-links a {
    margin: 0 15px;
    color: #F5F1E8;
    text-decoration: none;
    font-size: 14px;
    transition: opacity 0.3s;
  }

  .footer-links a:hover {
    opacity: 0.6;
  }

  /* 하단 */
  .footer-bottom {
    font-size: 12px;
    opacity: 0.6;
  }
}

@media screen and (min-width:280px) and (max-width:767px) {
  body {
    font-size: 14px;
  }

  main {
    margin-top: 60px;
    height: calc(100vh - 60px);
  }

  #visual,
  #varieties,
  #benefits,
  #recipes,
  #growing,
  #galler {
    height: calc(100vh - 60px);
  }

  #proverb,
  #quiz {
    height: calc((100vh - 60px) / 2);
  }

  .moreBtn {
    font-size: 12px;
    font-weight: 100;
  }

  .moreBtn:hover {
    color: #e53935;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff3e0;
    z-index: 100;
    border-bottom: #e53935 2px solid;
  }

  header>div {
    height: 100%;
    padding: 10px 5%;
    display: flex;
    align-items: center;
  }

  /* logo */
  header>div h1 {
    order: 1;
  }

  header>div h1 a {
    display: block;
  }

  header>div h1 a img {
    height: 40px;
    display: block;
  }

  /* search */
  .searchBox {
    order: 2;
    margin-left: auto;
    position: static;
  }

  /* 🔥 기본: 완전히 숨김 */
  .searchBox input[type="search"] {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0 5%;
    border: none;
    outline: none;
    background: #fff3e0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-120%);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 999;
  }

  /* 🔥 active일 때만 보임 */
  .searchBox.active input[type="search"] {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  /* 버튼 (아이콘만) */
  .searchBox button {
    position: static;
    transform: none;
    width: 18px;
    height: 18px;
    background: url('../images/icon_search.svg') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .searchBox input::placeholder {
    font-family: 'Jua';
    font-size: 16px;
  }

  /* 햄버거 */
  .hamburger {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    margin-left: 15px;
    cursor: pointer;
  }

  .hamburger div {
    width: 20px;
    height: 2px;
    background: #333;
    border-radius: 2px;
    transition: 0.3s;
  }

  /* nav */
  nav {
    position: fixed;
    top: 60px;
    right: 0;
    width: calc(100% / 2);
    height: calc(100vh - 60px);
    background: #fff3e0;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: 0.3s ease;
    padding: 15px;
    pointer-events: none;
    /* 클릭 막기 */
  }

  nav.active {
    transform: translateX(0);
    pointer-events: auto;
    /* 열렸을 때만 클릭 가능 */
  }

  /* 메뉴 리스트 */
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  nav ul li a {
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding: 5px 0;
    color: #333;
  }

  nav ul li a:hover {
    color: #e53935;
  }



  /* footer */
  .footer {
    background-color: #2e7d32;
    color: #fff3e0;
    padding: 60px 20px 30px;
    /* margin-top: 80px; */
  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  /* 상단 메시지 */
  .footer-top h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .footer-top p {
    font-size: 14px;
    opacity: 0.8;
  }

  /* 링크 영역 */
  .footer-links {
    margin: 30px 0;
  }

  .footer-links a {
    margin: 0 15px;
    color: #F5F1E8;
    text-decoration: none;
    font-size: 14px;
    transition: opacity 0.3s;
  }

  .footer-links a:hover {
    opacity: 0.6;
  }

  /* 하단 */
  .footer-bottom {
    font-size: 12px;
    opacity: 0.6;
  }
}