* {
  box-sizing: border-box;
}

body {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222;
  background-color: #fff3e0;
}

main {
  margin-top: 100px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  /* IE, Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;
}

/* 크롬, 사파리 */
main::-webkit-scrollbar {
  display: none;
}

/* 섹션 스냅 */
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

a {
  text-decoration: none;
  color: inherit;
}

#visual,
#varieties,
#benefits,
#recipes,
#growing,
#galler {
  height: calc(100vh - 100px);
}

#proverb,
#quiz {
  height: calc((100vh - 100px) / 2);
}


@media screen and (min-width:1280px) {
  body {
    font-size: 20px;
  }

  main {
    margin-top: 100px;
    height: calc(100vh - 100px);
  }

  h2 {
    font-size: 60px;
    margin-bottom: 50px;
    font-weight: 500;
  }

  .moreBtn {
    font-size: 18px;
    font-weight: 500;
  }

  .moreBtn:hover {
    color: #e53935;
  }

  header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #fff3e0;
    z-index: 100;
    align-items: center;
    border-bottom: #e53935 2px solid;
  }

  header>div {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 2%;
    display: flex;
    align-items: center;
    height: 100%;
  }

  /* logo */
  header>div h1 {
    max-width: 150px;
  }

  header>div h1 a {
    display: block;
  }

  header>div h1 a img {
    height: 60px;
    display: block;
  }

  /* nav */
  header>div nav {
    width: 100%;
  }

  header>div nav ul {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
  }

  header>div nav ul li a {
    position: relative;
  }

  header>div nav ul li a:hover {
    color: #e53935;
  }

  header>div nav ul li a:after {
    content: '';
    position: absolute;
    width: 0%;
    /* 처음에는 밑줄이 안 보임 */
    height: 2px;
    background: #e53935;
    left: 0;
    bottom: -4px;
    transition: width 0.3s;
    /* 밑줄 길이 늘어나는 애니메이션 */
  }

  header>div nav ul li a:hover:after {
    width: 100%;
  }

  /* search */
  .searchBox {
    position: relative;
    margin-left: 40px;
  }

  .searchBox input[type="search"] {
    width: 200px;
    height: 40px;
    padding: 0 40px 0 15px;
    /* 오른쪽 공간 확보 */
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
  }

  .searchBox button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('../images/icon_search.svg') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .searchBox input::placeholder {
    font-family: 'Jua';
    font-size: 16px;
  }

  /* footer */
  .footer {
    background-color: #2e7d32;
    color: #fff3e0;
    padding: 60px 20px 30px;
    /* margin-top: 80px; */
  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  /* 상단 메시지 */
  .footer-top h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .footer-top p {
    font-size: 14px;
    opacity: 0.8;
  }

  /* 링크 영역 */
  .footer-links {
    margin: 30px 0;
  }

  .footer-links a {
    margin: 0 15px;
    color: #F5F1E8;
    text-decoration: none;
    font-size: 14px;
    transition: opacity 0.3s;
  }

  .footer-links a:hover {
    opacity: 0.6;
  }

  /* 하단 */
  .footer-bottom {
    font-size: 12px;
    opacity: 0.6;
  }
}

@media screen and (min-width:768px) and (max-width:1279px) {
  body {
    font-size: 18px;
  }

  main {
    margin-top: 80px;
    height: calc(100vh - 80px);
  }

  h2 {
    font-size: 46px;
    margin-bottom: 40px;
    font-weight: 500;
  }

  .moreBtn {
    font-size: 16px;
    font-weight: 500;
  }

  .moreBtn:hover {
    color: #e53935;
  }

  header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #fff3e0;
    z-index: 100;
    align-items: center;
    border-bottom: #e53935 2px solid;
  }

  header>div {
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px 2%;
    display: flex;
    align-items: center;
    height: 100%;
  }

  /* logo */
  header>div h1 {
    max-width: 150px;
  }

  header>div h1 a {
    display: block;
  }

  header>div h1 a img {
    height: 50px;
    display: block;
  }

  /* nav */
  header>div nav {
    width: 100%;
  }

  header>div nav ul {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
  }

  header>div nav ul li a {
    position: relative;
  }

  header>div nav ul li a:hover {
    color: #e53935;
  }

  header>div nav ul li a:after {
    content: '';
    position: absolute;
    width: 0%;
    /* 처음에는 밑줄이 안 보임 */
    height: 2px;
    background: #e53935;
    left: 0;
    bottom: -4px;
    transition: width 0.3s;
    /* 밑줄 길이 늘어나는 애니메이션 */
  }

  header>div nav ul li a:hover:after {
    width: 100%;
  }

  /* search */
  .searchBox {
    position: relative;
    margin-left: 40px;
  }

  .searchBox input[type="search"] {
    width: 200px;
    height: 40px;
    padding: 0 40px 0 15px;
    /* 오른쪽 공간 확보 */
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
  }

  .searchBox button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('../images/icon_search.svg') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .searchBox input::placeholder {
    font-family: 'Jua';
    font-size: 16px;
  }

  /* footer */
  .footer {
    background-color: #2e7d32;
    color: #fff3e0;
    padding: 60px 20px 30px;
    /* margin-top: 80px; */
  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  /* 상단 메시지 */
  .footer-top h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .footer-top p {
    font-size: 14px;
    opacity: 0.8;
  }

  /* 링크 영역 */
  .footer-links {
    margin: 30px 0;
  }

  .footer-links a {
    margin: 0 15px;
    color: #F5F1E8;
    text-decoration: none;
    font-size: 14px;
    transition: opacity 0.3s;
  }

  .footer-links a:hover {
    opacity: 0.6;
  }

  /* 하단 */
  .footer-bottom {
    font-size: 12px;
    opacity: 0.6;
  }
}

@media screen and (min-width:280px) and (max-width:767px) {
  body {
    font-size: 20px;
  }

  main {
    margin-top: 100px;
    height: calc(100vh - 100px);
  }

  h2 {
    font-size: 60px;
    margin-bottom: 50px;
    font-weight: 500;
  }

  .moreBtn {
    font-size: 18px;
    font-weight: 500;
  }

  .moreBtn:hover {
    color: #e53935;
  }

  header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #fff3e0;
    z-index: 100;
    align-items: center;
    border-bottom: #e53935 2px solid;
  }

  header>div {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    align-items: center;
    height: 100%;
  }

  /* logo */
  header>div h1 {
    max-width: 150px;
  }

  header>div h1 a {
    display: block;
  }

  header>div h1 a img {
    width: 100%;
    display: block;
  }

  /* nav */
  header>div nav {
    width: 100%;
  }

  header>div nav ul {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
  }

  header>div nav ul li a {
    position: relative;
  }

  header>div nav ul li a:hover {
    color: #e53935;
  }

  header>div nav ul li a:after {
    content: '';
    position: absolute;
    width: 0%;
    /* 처음에는 밑줄이 안 보임 */
    height: 2px;
    background: #e53935;
    left: 0;
    bottom: -4px;
    transition: width 0.3s;
    /* 밑줄 길이 늘어나는 애니메이션 */
  }

  header>div nav ul li a:hover:after {
    width: 100%;
  }

  /* search */
  .searchBox {
    position: relative;
    margin-left: 40px;
  }

  .searchBox input[type="search"] {
    width: 200px;
    height: 40px;
    padding: 0 40px 0 15px;
    /* 오른쪽 공간 확보 */
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
  }

  .searchBox button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('../images/icon_search.svg') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .searchBox input::placeholder {
    font-family: 'Jua';
    font-size: 16px;
  }

  /* footer */
  .footer {
    background-color: #2e7d32;
    color: #fff3e0;
    padding: 60px 20px 30px;
    /* margin-top: 80px; */
  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  /* 상단 메시지 */
  .footer-top h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .footer-top p {
    font-size: 14px;
    opacity: 0.8;
  }

  /* 링크 영역 */
  .footer-links {
    margin: 30px 0;
  }

  .footer-links a {
    margin: 0 15px;
    color: #F5F1E8;
    text-decoration: none;
    font-size: 14px;
    transition: opacity 0.3s;
  }

  .footer-links a:hover {
    opacity: 0.6;
  }

  /* 하단 */
  .footer-bottom {
    font-size: 12px;
    opacity: 0.6;
  }
}