@media screen and (min-width:1024px) {

  /* ---비주얼--- */
  #visual {
    width: 100%;
    background-color: #2e7d32;
  }

  #visual>div {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 80px 2%;
    background: url(../images/visual.png) no-repeat center calc(50% + 400px) / cover;
  }

  #visual h2 {
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }



  /* ---속담--- */
  #proverb {
    background-color: #F3F8F3;
  }

  #proverb div {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 80px 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #proverb div h2 {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 50px;
  }

  #proverb div span {
    line-height: 22px;
  }



  /* ---종류--- */
  #varieties>div {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 80px 2%;
    display: flex;
    flex-direction: column;
  }

  #varieties>div>div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  #varieties>div>div:first-of-type h2 {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 50px;
  }

  #varieties>div>div:last-of-type {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }

  .card {
    background: #fff;
    padding: 20px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card img {
    flex: 1;
    min-height: 0;
    width: 100%;
    aspect-ratio: 4 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  .card h3 {
    font-size: 34px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  /* 상세영역 */
  .card>div:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 25px;
    opacity: 0;
    /* 기본 숨김 */
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
  }

  .card>div:last-of-type h4 {
    font-size: 34px;
    font-weight: 100;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #e53935;
    border-bottom: 1px solid #ccc;
  }

  .card>div:last-of-type p {
    margin-bottom: 15px;
  }

  .card div p:last-of-type {
    margin-bottom: 0;
  }

  .card.active>div {
    opacity: 1;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 18px;
    background: url(../images/icon_close.png) no-repeat center / contain;
    cursor: pointer;
  }



  /* ---효능---*/
  #benefits {
    position: relative;
    overflow: hidden;
    background-color: #F2F7F2;
  }

  /* 라디오 숨기기 */
  #benefits input[type="radio"] {
    display: none;
  }

  #benefits>div {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 80px 2%;
    display: flex;
  }

  /* 왼쪽 */
  #benefits>div div:first-of-type {
    flex: 1;
  }

  #benefits>div div:first-of-type h2 {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 50px;
  }

  /* 콘텐츠 영역 */
  #benefits>div div:first-of-type div {
    display: none;
  }

  #benefits>div div:first-of-type div img {
    width: 100px;
  }

  #benefits>div div:first-of-type div p {
    line-height: 22px;
  }

  /* 선택된 콘텐츠 표시 */
  #t1:checked~div div:first-of-type .c1,
  #t2:checked~div div:first-of-type .c2,
  #t3:checked~div div:first-of-type .c3,
  #t4:checked~div div:first-of-type .c4,
  #t5:checked~div div:first-of-type .c5,
  #t6:checked~div div:first-of-type .c6,
  #t7:checked~div div:first-of-type .c7 {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  /* 오른쪽 */
  #benefits>div div:last-of-type {
    flex: 2;
    justify-content: center;
    position: relative;
  }

  .circle {
    width: 800px;
    height: 800px;
    border: #e53935 2px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -250PX;
    top: 100px;
    font-size: 20px;
  }

  .circle img {
    width: 700px;
    height: 700px;
  }


  /* 텍스트 버튼 */
  #benefits>div div:last-of-type label {
    position: absolute;
    /* 라벨만 절대 위치 */
    cursor: pointer;
    font-size: 20px;
  }

  #benefits>div div:last-of-type label[for="t1"] {
    top: 145px;
    left: 300px;
  }

  #benefits>div div:last-of-type label[for="t2"] {
    top: 215px;
    left: 240px;
  }

  #benefits>div div:last-of-type label[for="t3"] {
    top: 305px;
    left: 175px;
  }

  #benefits>div div:last-of-type label[for="t4"] {
    top: 400px;
    left: 115px;
  }

  #benefits>div div:last-of-type label[for="t5"] {
    top: 500px;
    left: 115px;
  }

  #benefits>div div:last-of-type label[for="t6"] {
    top: 600px;
    left: 130px;
  }

  #benefits>div div:last-of-type label[for="t7"] {
    top: 700px;
    left: 175px;
  }

  /* 선택된 항목 강조 */
  #t1:checked~div .circle-menu label[for="t1"],
  #t2:checked~div .circle-menu label[for="t2"],
  #t3:checked~div .circle-menu label[for="t3"],
  #t4:checked~div .circle-menu label[for="t4"],
  #t5:checked~div .circle-menu label[for="t5"],
  #t6:checked~div .circle-menu label[for="t6"],
  #t7:checked~div .circle-menu label[for="t7"] {
    color: red;
    font-weight: bold;
  }



  /* ---레시피--- */
  #recipes>div {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 80px 2%;
    display: flex;
    flex-direction: column;
  }

  #recipes>div>div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  #recipes>div>div:first-of-type h2 {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 50px;
  }

  #recipes>div>div:last-of-type {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .recipeCard {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .recipeCard img {
    flex: 1;
    min-height: 0;
    width: 100%;
    aspect-ratio: 4 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  .recipeCard figcaption h3 {
    font-size: 34px;
    font-weight: 100;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .recipeCard figcaption p {
    line-height: 22px;
    margin-bottom: 15px;
  }

  .recipeCard figcaption>span {
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin-bottom: 20px;
  }

  .recipeCard figcaption div span {
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    padding: 10px 18px;
    background-color: #2e7d32;
    border-radius: 15px;
  }

  /* 키우기 */
  #growing figure {
    max-width: 1440px;
    height: 100%;
    padding: 80px 2%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
  }

  /* ⭐ 핵심: 좌우 1:1 */
  #growing figure>div,
  #growing figure figcaption {
    flex: 1;
    min-width: 0;
    height: 100%;
  }

  /* ⭐ 이미지 영역 */
  #growing figure>div {
    overflow: hidden;

  }

  /* 이미지 */
  #growing figure img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
    object-position: calc(50% + 130px) center;
    border-radius: 15px;
  }

  /* 텍스트 */
  #growing figure figcaption {
    display: flex;
    flex-direction: column;
    /* gap: 20px;*/
  }

  #growing figure figcaption h2 {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 50px;
  }

  #growing figcaption ul {
    overflow-y: auto;
  }

  #growing figcaption ul li {
    list-style: none;
    border-bottom: #222 1px solid;
  }

  #growing figcaption ul li h3 {
    font-size: 34px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
  }

  #growing figcaption ul li:first-of-type h3 {
    padding: 0 0 20px;
  }

  #growing figcaption ul li:not(:first-of-type) h3 {
    padding: 20px 0;
  }

  #growing figcaption ul li h3:after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/icon_plus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }

  #growing figcaption ul li h3.active:after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/icon_minus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* 기본 상태: p 숨김 */
  #growing ul li p {
    display: none;
    padding: 0 10px 10px 10px;

  }

  /* h3.active 바로 다음 p를 보이게 */
  #growing ul li h3.active~p {
    display: block;
  }


  /* galler */
  #galler>div {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 80px 2%;
    display: flex;
    flex-direction: column;
  }

  #galler>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #galler>div>div h2 {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 50px;
  }

  #galler ul {
    display: flex;
    gap: 30px;
    flex: 1;
  }

  #galler li {
    flex: 1;
    min-width: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: flex 0.5s ease;
    aspect-ratio: 3 / 4;
    border-radius: 15px;
  }

  /* active 카드 확장 */
  #galler li.active {
    flex: 3;
  }

  #galler li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  #galler li>div:first-of-type {
    position: absolute;
    top: 25px;
    right: 25px;

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #2e7d32;
    border-radius: 50%;
    color: #fff;

    transition: all 0.4s ease;
  }

  /* active 상태 아이콘 */
  #galler li.active>div:first-of-type {
    opacity: 0.25;
    background-color: #000;
  }

  #galler li>div:last-of-type {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px;
    color: #fff;
    transform: translateY(100%);
    transition: 0.4s ease;
    background: linear-gradient(to top,
        rgba(0, 0, 0, 0.6),
        transparent);
  }

  /* title */
  #galler li>div:last-of-type h3 {
    font-size: 34px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  /* button */
  #galler li>div:last-of-type a {
    font-size: 16px;
    font-weight: 100;
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e7d32;
    border-radius: 15px;
  }

  /* active info 등장 */
  #galler li.active>div:last-of-type {
    transform: translateY(0);
  }



  /* ---퀴즈--- */
  #quiz {
    background-color: #FFF3F3;
    display: flex;
    align-items: center;
  }

  #quiz>div {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 80px 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #quiz>div div:first-of-type h2 {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 50px;
  }

  #quiz>div div:first-of-type p {
    font-size: 34px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  #quiz>div div:first-of-type ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 25px;
  }

  /* 보기 아이템 */
  #quiz>div div:first-of-type ul li {
    font-size: 16px;
    font-weight: 100;
    padding: 10px 18px;
    background: #fff;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: 0.3s;
  }

  #quiz>div div:first-of-type ul li:hover {
    background: #ffe0e0;
  }

  #quiz>div div:first-of-type ul li.correct {
    background: #e53935;
    color: #fff;
  }

  #quiz>div div:first-of-type ul li.wrong {
    background: #ccc;
    color: #333;
  }

  /* 결과 영역 */
  #quiz>div div:last-of-type {
    opacity: 0;
    /* top: 70%; */
    transition: 0.4s;
    text-align: center;
  }

  /* 결과 표시 */
  #quiz>div div:last-of-type.show {
    opacity: 1;
  }

  /* 결과 텍스트 */
  #quiz>div .result {
    font-size: 34px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  /* 설명 텍스트 */
  #quiz>div div p:last-child {
    color: #555;
    line-height: 22px;
  }
}

@media screen and (min-width:768px) and (max-width:1279px) {

  /* ---비주얼--- */
  #visual {
    width: 100%;
    background-color: #2e7d32;
  }

  #visual>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 60px 3%;
    background: url(../images/visual.png) no-repeat center calc(50% + 300px) / cover;
  }

  #visual h2 {
    font-size: 44px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 35px;
  }



  /* ---속담--- */
  #proverb {
    background-color: #F3F8F3;
  }

  #proverb div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 60px 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #proverb div h2 {
    font-size: 44px;
    font-weight: 100;
    margin-bottom: 35px;
  }

  #proverb div span {
    line-height: 20px;
  }



  /* ---종류--- */
  #varieties>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 60px 3%;
    display: flex;
    flex-direction: column;
  }

  #varieties>div>div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  #varieties>div>div:first-of-type h2 {
    font-size: 44px;
    font-weight: 100;
    margin-bottom: 35px;
  }

  #varieties>div>div:last-of-type {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .card {
    background: #fff;
    padding: 15px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card img {
    flex: 1;
    min-height: 0;
    width: 100%;
    aspect-ratio: 4 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  .card h3 {
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 15px;
  }

  /* 상세영역 */
  .card>div:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 25px;
    opacity: 0;
    /* 기본 숨김 */
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
  }

  .card>div:last-of-type h4 {
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #e53935;
    border-bottom: 1px solid #ccc;
  }

  .card>div:last-of-type p {
    margin-bottom: 10px;
  }

  .card div p:last-of-type {
    margin-bottom: 0;
  }

  .card.active>div {
    opacity: 1;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    background: url(../images/icon_close.png) no-repeat center / contain;
    cursor: pointer;
  }



  /* ---효능---*/
  #benefits {
    position: relative;
    overflow: hidden;
    background-color: #F2F7F2;
  }

  /* 라디오 숨기기 */
  #benefits input[type="radio"] {
    display: none;
  }

  #benefits>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 60px 3%;
  }

  #benefits>div div:first-of-type h2 {
    font-size: 44px;
    font-weight: 100;
    margin-bottom: 35px;
  }

  /* 콘텐츠 영역 */
  #benefits>div div:first-of-type div {
    display: none;
  }

  #benefits>div div:first-of-type div img {
    width: 100px;
  }

  #benefits>div div:first-of-type div p {
    line-height: 20px;
  }

  /* 선택된 콘텐츠 표시 */
  #t1:checked~div div:first-of-type .c1,
  #t2:checked~div div:first-of-type .c2,
  #t3:checked~div div:first-of-type .c3,
  #t4:checked~div div:first-of-type .c4,
  #t5:checked~div div:first-of-type .c5,
  #t6:checked~div div:first-of-type .c6,
  #t7:checked~div div:first-of-type .c7 {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  /* 오른쪽 */
  #benefits>div div:last-of-type {
    flex: 2;
    justify-content: center;
    position: relative;
  }

  .circle {
    width: 600px;
    height: 600px;
    border: #e53935 2px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -250PX;
    top: 100px;
    font-size: 20px;
  }

  .circle img {
    width: 500px;
    height: 500px;
  }


  /* 텍스트 버튼 */
  #benefits>div div:last-of-type label {
    position: absolute;
    /* 라벨만 절대 위치 */
    cursor: pointer;
    font-size: 18px;
  }

  #benefits>div div:last-of-type label[for="t1"] {
    top: 110px;
    left: 435px;
  }

  #benefits>div div:last-of-type label[for="t2"] {
    top: 155px;
    left: 375px;
  }

  #benefits>div div:last-of-type label[for="t3"] {
    top: 215px;
    left: 305px;
  }

  #benefits>div div:last-of-type label[for="t4"] {
    top: 280px;
    left: 230px;
  }

  #benefits>div div:last-of-type label[for="t5"] {
    top: 350px;
    left: 205px;
  }

  #benefits>div div:last-of-type label[for="t6"] {
    top: 435px;
    left: 185px;
  }

  #benefits>div div:last-of-type label[for="t7"] {
    top: 520px;
    left: 190px;
  }

  /* 선택된 항목 강조 */
  #t1:checked~div .circle-menu label[for="t1"],
  #t2:checked~div .circle-menu label[for="t2"],
  #t3:checked~div .circle-menu label[for="t3"],
  #t4:checked~div .circle-menu label[for="t4"],
  #t5:checked~div .circle-menu label[for="t5"],
  #t6:checked~div .circle-menu label[for="t6"],
  #t7:checked~div .circle-menu label[for="t7"] {
    color: red;
    font-weight: bold;
  }



  /* ---레시피--- */
  #recipes>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 60px 3%;
    display: flex;
    flex-direction: column;
  }

  #recipes>div>div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  #recipes>div>div:first-of-type h2 {
    font-size: 44px;
    font-weight: 100;
    margin-bottom: 35px;
  }


  #recipes>div>div:last-of-type {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .recipeCard {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .recipeCard img {
    flex: 1;
    min-height: 0;
    width: 100%;
    aspect-ratio: 4 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  .recipeCard figcaption h3 {
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .recipeCard figcaption p {
    line-height: 20px;
    margin-bottom: 10px;
  }

  .recipeCard figcaption>span {
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin-bottom: 15px;
  }

  .recipeCard figcaption div span {
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    padding: 9px 16px;
    background-color: #2e7d32;
    border-radius: 15px;
  }

  /* 키우기 */
  #growing figure {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 60px 3%;
    display: flex;
    gap: 30px;
  }

  /* ⭐ 핵심: 좌우 1:1 */
  #growing figure>div,
  #growing figure figcaption {
    flex: 1;
    min-width: 0;
    height: 100%;
  }

  /* ⭐ 이미지 영역 */
  #growing figure>div {
    overflow: hidden;
  }

  /* 이미지 */
  #growing figure img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
    object-position: calc(50% + 210px) center;
    border-radius: 15px;
  }

  /* 텍스트 */
  #growing figure figcaption {
    display: flex;
    flex-direction: column;
    /* gap: 20px;*/
  }

  #growing figure figcaption h2 {
    font-size: 44px;
    font-weight: 100;
    margin-bottom: 35px;
  }

  #growing figcaption ul {
    overflow-y: auto;
  }

  #growing figcaption ul li {
    list-style: none;
    border-bottom: #222 1px solid;
  }

  #growing figcaption ul li h3 {
    font-size: 26px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

  }

  #growing figcaption ul li:first-of-type h3 {
    padding: 0 0 15px;
  }

  #growing figcaption ul li:not(:first-of-type) h3 {
    padding: 15px 0;
  }

  #growing figcaption ul li h3:after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/icon_plus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }

  #growing figcaption ul li h3.active:after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/icon_minus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* 기본 상태: p 숨김 */
  #growing ul li p {
    display: none;
    padding: 0 10px 10px 10px;

  }

  /* h3.active 바로 다음 p를 보이게 */
  #growing ul li h3.active~p {
    display: block;
  }


  /* galler */
  #galler>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 60px 3%;
    display: flex;
    flex-direction: column;
  }

  #galler>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #galler>div>div h2 {
    font-size: 44px;
    font-weight: 100;
    margin-bottom: 35px;
  }

  #galler ul {
    display: flex;
    gap: 20px;
    flex: 1;
  }

  #galler li {
    flex: 1;
    min-width: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: flex 0.5s ease;
    aspect-ratio: 3 / 4;
    border-radius: 15px;
  }

  /* active 카드 확장 */
  #galler li.active {
    flex: 3;
  }

  #galler li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  #galler li>div:first-of-type {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 25px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #2e7d32;
    border-radius: 50%;
    color: #fff;

    transition: all 0.4s ease;
  }

  /* active 상태 아이콘 */
  #galler li.active>div:first-of-type {
    opacity: 0.25;
    background-color: #000;
  }

  #galler li>div:last-of-type {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: #fff;
    transform: translateY(100%);
    transition: 0.4s ease;
    background: linear-gradient(to top,
        rgba(0, 0, 0, 0.6),
        transparent);
  }

  /* title */
  #galler li>div:last-of-type h3 {
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 15px;
  }

  /* button */
  #galler li>div:last-of-type a {
    font-size: 14px;
    font-weight: 100;
    padding: 9px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e7d32;
    border-radius: 15px;
  }

  /* active info 등장 */
  #galler li.active>div:last-of-type {
    transform: translateY(0);
  }



  /* ---퀴즈--- */
  #quiz {
    background-color: #FFF3F3;
    display: flex;
    align-items: center;
  }

  #quiz>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 60px 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #quiz>div div:first-of-type h2 {
    font-size: 44px;
    font-weight: 100;
    margin-bottom: 35px;
  }

  #quiz>div div:first-of-type p {
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 15px;
  }

  #quiz>div div:first-of-type ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  /* 보기 아이템 */
  #quiz>div div:first-of-type ul li {
    font-size: 14px;
    font-weight: 100;
    padding: 9px 16px;
    background: #fff;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: 0.3s;
  }

  #quiz>div div:first-of-type ul li:hover {
    background: #ffe0e0;
  }

  #quiz>div div:first-of-type ul li.correct {
    background: #e53935;
    color: #fff;
  }

  #quiz>div div:first-of-type ul li.wrong {
    background: #ccc;
    color: #333;
  }

  /* 결과 영역 */
  #quiz>div div:last-of-type {
    opacity: 0;
    /* top: 70%; */
    transition: 0.4s;
    text-align: center;
  }

  /* 결과 표시 */
  #quiz>div div:last-of-type.show {
    opacity: 1;
  }

  /* 결과 텍스트 */
  #quiz>div .result {
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 15px;
  }

  /* 설명 텍스트 */
  #quiz>div div p:last-child {
    color: #555;
    line-height: 20px;
  }
}

@media screen and (min-width:280px) and (max-width:767px) {

  /* ---비주얼--- */
  #visual {
    width: 100%;
    background-color: #2e7d32;
  }

  #visual>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 4%;
    background: url(../images/visual.png) no-repeat center calc(50% + 200px) / cover;
  }

  #visual h2 {
    font-size: 28px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
  }



  /* ---속담--- */
  #proverb {
    background-color: #F3F8F3;
  }

  #proverb div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #proverb div h2 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  #proverb div span {
    line-height: 18px;
  }



  /* ---종류--- */
  #varieties>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 4%;
    display: flex;
    flex-direction: column;
  }

  #varieties>div>div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  #varieties>div>div:first-of-type h2 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  #varieties>div>div:last-of-type {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .card {
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    /* position: relative; */
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .card img {
    width: 50px;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
  }

  .card>div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    flex: 1;
  }

  .card h3 {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
  }

  /* 상세영역 */
  .card>div:last-of-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    max-width: 300px;
    height: auto;
    background: #fff;
    border-radius: 25px;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow-y: auto;
  }

  .card>div:last-of-type h4 {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #e53935;
    border-bottom: 1px solid #ccc;
  }

  .card>div:last-of-type p {
    margin-bottom: 5px;
  }

  .card>div:last-of-type p:last-of-type {
    margin-bottom: 0;
  }

  .card.active>div:last-of-type {
    opacity: 1;
    visibility: visible;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 14px;
    height: 14px;
    background: url(../images/icon_close.png) no-repeat center / contain;
    cursor: pointer;
  }



  /* ---효능---*/
  #benefits {
    background-color: #F2F7F2;
    text-align: center;
  }

  /* 라디오 숨기기 */
  #benefits input[type="radio"] {
    display: none;
  }

  #benefits>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 4%;
    position: relative;
  }

  #benefits>div>div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  #benefits>div div:first-of-type h2 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  /* 콘텐츠 영역 */
  #benefits>div div:first-of-type div {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #benefits>div div:first-of-type div img {
    width: 50px;
  }

  #benefits>div div:first-of-type div p {
    line-height: 18px;
  }

  /* 선택된 콘텐츠 */
  #t1:checked~div div:first-of-type .c1,
  #t2:checked~div div:first-of-type .c2,
  #t3:checked~div div:first-of-type .c3,
  #t4:checked~div div:first-of-type .c4,
  #t5:checked~div div:first-of-type .c5,
  #t6:checked~div div:first-of-type .c6,
  #t7:checked~div div:first-of-type .c7 {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  /* =========================
   토마토 원형 이미지
========================= */
  .circle {
    width: 220px;
    height: 220px;
    border: 2px solid #e53935;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle img {
    width: 140px;
    height: auto;
  }

  /* =========================
   버튼 (칩 스타일)
========================= */
  .circle-menu {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  /* .circle-menu :not(div:first-of-type){
    display: flex;
  } */
  .circle-menu label {
    padding: 8px 14px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .circle-menu label {
    display: inline-block;
    margin: 0 5px 10px;
  }

  /* 선택된 버튼 */
  #t1:checked~div .circle-menu label[for="t1"],
  #t2:checked~div .circle-menu label[for="t2"],
  #t3:checked~div .circle-menu label[for="t3"],
  #t4:checked~div .circle-menu label[for="t4"],
  #t5:checked~div .circle-menu label[for="t5"],
  #t6:checked~div .circle-menu label[for="t6"],
  #t7:checked~div .circle-menu label[for="t7"] {
    background: #e53935;
    color: #fff;
    border-color: #e53935;
  }



  /* ---레시피-- */
  #recipes>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 4%;
    display: flex;
    flex-direction: column;
  }

  #recipes>div>div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  #recipes>div>div:first-of-type h2 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  #recipes>div>div:last-of-type {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #recipes>div>div:last-of-type a {
    /* height: 50%; */
    height: auto;
  }

  #recipes>div>div:last-of-type a:last-of-type {
    display: none;
  }

  .recipeCard {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .recipeCard img {
    /* flex: 1; */
    min-height: 0;
    width: 100%;
    aspect-ratio: 4 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .recipeCard figcaption h3 {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .recipeCard figcaption p {
    line-height: 18px;
    margin-bottom: 5px;
  }

  .recipeCard figcaption>span {
    font-size: 12px;
    line-height: 16px;
    display: block;
    margin-bottom: 10px;
  }

  .recipeCard figcaption div span {
    font-size: 12px;
    font-weight: 100;
    color: #fff;
    padding: 8px 14px;
    background-color: #2e7d32;
    border-radius: 15px;
  }

  /* .recipeCard figcaption div span {
    background-color: #2e7d32;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
  } */

  /* 키우기 */
  #growing figure {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 4%;
    display: flex;
    gap: 10px;
  }

  /* ⭐ 핵심: 좌우 1:1 */
  #growing figure>div,
  #growing figure figcaption {
    flex: 1;
    min-width: 0;
    height: 100%;
  }

  /* ⭐ 이미지 영역 */
  #growing figure>div {
    overflow: hidden;
  }

  /* 이미지 */
  #growing figure img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
    object-position: calc(50% + 130px) center;
    border-radius: 15px;
  }

  /* 텍스트 */
  #growing figure figcaption {
    display: flex;
    flex-direction: column;
    /* gap: 20px;*/
  }

  #growing figure figcaption h2 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  #growing figcaption ul {
    overflow-y: auto;
  }

  #growing figcaption ul li {
    list-style: none;
    border-bottom: #222 1px solid;
  }

  #growing figcaption ul li h3 {
    font-size: 18px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
  }

  #growing figcaption ul li:first-of-type h3 {
    padding: 0 0 10px;
  }

  #growing figcaption ul li:not(:first-of-type) h3 {
    padding: 10px 0;
  }

  #growing figcaption ul li h3:after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/icon_plus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }

  #growing figcaption ul li h3.active:after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/icon_minus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* 기본 상태: p 숨김 */
  #growing ul li p {
    display: none;
    padding: 0 10px 10px 10px;

  }

  /* h3.active 바로 다음 p를 보이게 */
  #growing ul li h3.active~p {
    display: block;
  }


  /* galler */
  #galler>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 4%;
    display: flex;
    flex-direction: column;
  }

  #galler>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #galler>div>div h2 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  #galler ul {
    display: flex;
    gap: 10px;
    flex: 1;
  }

  #galler li {
    flex: 1;
    min-width: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: flex 0.5s ease;
    aspect-ratio: 3 / 4;
    border-radius: 15px;
  }

  /* active 카드 확장 */
  #galler li.active {
    flex: 3;
  }

  #galler li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  #galler li>div:first-of-type {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #2e7d32;
    border-radius: 50%;
    color: #fff;

    transition: all 0.4s ease;
  }

  /* active 상태 아이콘 */
  #galler li.active>div:first-of-type {
    opacity: 0.25;
    background-color: #000;
  }

  #galler li>div:last-of-type {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px;
    color: #fff;
    transform: translateY(100%);
    transition: 0.4s ease;
    background: linear-gradient(to top,
        rgba(0, 0, 0, 0.6),
        transparent);
  }

  /* title */
  #galler li>div:last-of-type h3 {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
  }

  /* button */
  #galler li>div:last-of-type a {
    font-size: 12px;
    font-weight: 100;
    padding: 8px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e7d32;
    border-radius: 15px;
  }

  /* active info 등장 */
  #galler li.active>div:last-of-type {
    transform: translateY(0);
  }



  /* ---퀴즈--- */
  #quiz {
    background-color: #FFF3F3;
    display: flex;
    align-items: center;
  }

  #quiz>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #quiz>div div:first-of-type h2 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  #quiz>div div:first-of-type p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
  }

  #quiz>div div:first-of-type ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
  }

  /* 보기 아이템 */
  #quiz>div div:first-of-type ul li {
    font-size: 12px;
    font-weight: 100;
    padding: 8px 14px;
    background: #fff;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: 0.3s;
  }

  #quiz>div div:first-of-type ul li:hover {
    background: #ffe0e0;
  }

  #quiz>div div:first-of-type ul li.correct {
    background: #e53935;
    color: #fff;
  }

  #quiz>div div:first-of-type ul li.wrong {
    background: #ccc;
    color: #333;
  }

  /* 결과 영역 */
  #quiz>div div:last-of-type {
    opacity: 0;
    /* top: 70%; */
    transition: 0.4s;
    text-align: center;
  }

  /* 결과 표시 */
  #quiz>div div:last-of-type.show {
    opacity: 1;
  }

  /* 결과 텍스트 */
  #quiz>div .result {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
  }

  /* 설명 텍스트 */
  #quiz>div div p:last-child {
    color: #555;
    line-height: 18px;
  }
}