/* 공통 */



.material-symbols-outlined {
  font-size: 18px;
}






/* VISUAL */




.process li {
    /* border: 1px #0a0a0a solid;
    width: 185px;
    padding: 25px;
    text-align: center; */
    display: flex;
    margin-bottom: 20px;
    align-items: self-start;
    gap: 15px;
  }

  .process .process-icon {
    /* display: block; */
    font-size: 36px;

    font-variation-settings:
      'FILL' 0,
      'wght' 300,
      'GRAD' 0,
      'opsz' 48;

    /* width: 60px;
    height: 60px; */
    padding: 5px;
    border: 2px solid #000;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* .process .process-icon .material-symbols-outlined{
width: 40px;
height: 40px;
 } */
  /* .process li strong,
  .process li div {
    padding: 0 0 0 20px;
  } */



  .process ul li strong {
    display: block;
    font-size: 16px;
    line-height: 26px;
    /* margin-top: -25px; */
  }

  .process ul li b {
    display: block;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 12px;
  }

  .process ul li p {
    font-size: 16px;
    line-height: 26px;
  }


/* footer */
footer {
  width: 100%;
  /* height: 300px; */
  background-color: rgb(251, 39, 251);

}

/* footer .inner div{
  display: flex;
  flex: 1;
} */




 .visual>div:last-of-type {
    height: calc(100% - 118px);
    margin-top: 118px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    /* padding: 238px 0 120px 85px; */
    /* align-items: center; */
    /* position: relative; */
    z-index: 3;
    position: relative;
  }

  .visual .inner h2 {
    width: 440px;

  }

  .visual .inner p {
    width: 440px;

  }

 

  /* .visual ul {
    position: absolute;
    width: 1400px;
    margin: 0 auto;
  }

  .visual ul li {
    font-size: 16px;
  }

  .visual ul li.on {
    font-size: 32px;
  }

  .visual ul li::before {
    content: '';
    width: 1px;
    height: 60px;
    background-color: #0a0a0a;
    display: inline-block;
  } */

  /*  content: '';
  width: 60px;
  height: 1px;
  margin-left: 20px;
  background-color: #000000;
  display: inline-block;
   ::after는 기본이 inline이라 크기 안 먹을 수 있음
👉 display: block; 또는 inline-block 필요 */

  /* 스와이프 */
  /* .visual .swiper {
    position: absolute;
    inset: 0;
    width: 66.666%;
    height: 100%;
    right: 0;
  }

  .visual .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  .visual .swiper {
    inset: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }

  /* .visual .swiper-wrapper {
    height: 100%;
  }


  .visual .swiper-slide {
    height: 100%;
  } */

  .visual .swiper-slide img {
    width: 66.666%;
    height: 100%;
    object-fit: cover;
    display: block;
  }




  /* .swiper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .swiper-slide:not(:first-child) {
    display: none;
  }

  .swiper-slide {
    width: 30%;
  }

  .swiper-slide img {
    width: 100%;
  } */
