* {
  box-sizing: border-box;
  word-break: keep-all;
  /* 단어 단위로 내려감. */
}

body {
  background-color: #ffffff;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@media screen and (min-width: 1280px) {

  /* 공통 */
  .inner {
    max-width: 1440px;
    margin: 0 auto;
  }

  .logo {
    height: 58px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 20px;
    border: 10px #ffffff solid;
    border-left: 30px solid;
  }

  .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .title::after {
    content: '';
    width: 60px;
    height: 1px;
    margin-left: 20px;
    background-color: #0a0a0a;
    display: inline-block;
    /* ::after는 기본이 inline이라 크기 안 먹을 수 있음
👉 display: block; 또는 inline-block 필요 */
  }

  .subtitle {
    display: block;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .desc {
    font-size: 16px;
    line-height: 26px;
  }

  .en {
    font-family: 'Montserrat', sans-serif;
  }

  .view-button {
    font-size: 16px;
    padding: 15px 20px;
    border: 1px #0a0a0a solid;
    /* display: inline-block; */
    /* a 태그를 버튼처럼 사용할 때는 거의 inline-block 국룰
     * 줄바꿈 안 됨
     * width, height 적용 가능
     * padding, border 제어 편함 */
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  .view-button:hover {
    background-color: #3d6dff;
    color: #ffffff;
  }

  /* ---------- header---------- */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #0a0a0a;
  }

  header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
  }

  header h1 {
    max-width: 200px;
  }

  header h1 a {
    display: block;
  }

  header h1 a img {
    width: 100%;
    display: block;
  }

  header nav ul {
    display: flex;
    gap: 65px;
  }

  header nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
  }

  /* ---------- VISUAL---------- */
  .visual {
    height: 700px;
    background: #0a0a0a;
    overflow: hidden;
    margin-top: 118px;
  }

  .visual .inner {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }

  .visual .inner>div:first-of-type {
    flex: 1;
    min-width: 0;
    /* Swiper가 flex 영역에서 과도하게 확장되는 문제 방지 */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
  }

  .visual .inner>div:first-of-type h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    line-height: 76px;
    color: #ffffff;
  }

  .visual .inner>div:first-of-type p {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
  }

  /* 번호 */
  .visual .inner>div:first-of-type .slide_num {
    position: absolute;
    left: 0;
  }

  .visual .inner>div:first-of-type .slide_num li {
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s;
  }

  .visual .inner>div:first-of-type .slide_num li.on {
    font-size: 32px;
    line-height: 42px;
    opacity: 1;
  }

  .visual .inner>div:first-of-type .slide_num li::before {
    content: '';
    display: block;
    width: 1px;
    height: 60px;
    background: #ffffff;
    margin: 10px 0;
  }

  /* 스와이프 */
  .visual .inner>div:last-of-type {
    flex: 2;
    min-width: 0;
    /* Swiper가 flex 영역에서 과도하게 확장되는 문제 방지 */
    height: 100%;
    /* position: relative; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .visual .swiper {
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* overflow: hidden; */
  }

  .visual .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .visual .gradient {
    position: absolute;
    inset: 0;
    z-index: 2;

    background: radial-gradient(ellipse 80% 80% at center,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 1) 60%,
        rgba(0, 0, 0, 1) 100%);
  }

  /* ---------- ABOUT US----------  */
  .about {
    background-color: #ffffff;
    padding: 60px 60px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* 왼쪽 */
  .about>div {
    width: 330px;
    flex-shrink: 0;
    /* flex-shrink: 0;
   남는 공간 있어도 늘어나지 않음
   flex-shrink: 0;
   화면이 줄어도 줄어들지 않음 
   늘어나지 않음 | 줄어들지 않음 | 330px 고정
    flex: 0 0 330px; */
  }

  /* 오른쪽 */
  .about ul {
    width: 660px;
    display: flex;
  }

  .about ul li {
    flex: 1;
  }

  .about ul li:first-of-type,
  .about ul li:nth-of-type(2) {
    width: calc(100% - 60px);
    padding-right: 55px;
    margin-right: 55px;
  }

  .about ul li:not(:last-of-type) {
    border-right: 1px #0a0a0a solid;
  }

  .about ul li strong {
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
  }

  .about ul li span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }

  /* ---------- PROJECT----------  */
  .project {
    background-color: #0a0a0a;
    padding: 60px 20px 50px;
  }

  .project .inner {
    display: flex;
    justify-content: space-between;
  }

  /* 왼쪽 */
  .project .inner>div {
    width: 255px;
    margin-right: 20px;
    flex-shrink: 0;
    /* flex-shrink: 0;
   남는 공간 있어도 늘어나지 않음
   flex-shrink: 0;
   화면이 줄어도 줄어들지 않음 
   늘어나지 않음 | 줄어들지 않음 | 255px 고정
    flex: 0 0 255px; */
    display: flex;
    flex-direction: column;
    /* 링크를 하단으로 배치하기 위해 세로 정렬 */
    color: #ffffff;
  }

  .project .inner>div h2::after {
    background-color: #ffffff;
  }

  .project .inner>div a {
    margin-top: auto;
    /* 링크를 영역 하단으로 배치 */
    border-color: #ffffff;
    color: #ffffff;
  }

  /* 오른쪽 */
  .project .inner ul {
    width: 1030px;
    display: flex;
    gap: 10px;
  }

  .project .inner ul li {
    flex: 1;
  }

  .project ul li figure img {
    width: 100%;
    display: block;
    /* 이미지 아래에 생기는 이상한 여백 제거 */
    aspect-ratio: 4 / 3;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .project ul li figure figcaption strong {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .project ul li figure figcaption p {
    font-size: 16px;
    color: #ffffff;
  }

  /* ---------- PROJECT DETAIL----------  */
  .detail {
    background-color: #ffffff;
    padding: 60px 60px 50px;
    display: flex;
    justify-content: space-between;
  }

  /* 왼쪽 */
  .detail>div:first-of-type {
    width: 330px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    /* flex-shrink: 0;
   남는 공간 있어도 늘어나지 않음
   flex-shrink: 0;
   화면이 줄어도 줄어들지 않음 
   늘어나지 않음 | 줄어들지 않음 | 330px 고정
    flex: 0 0 330px; */
    margin-right: 20px;
  }

  .detail>div:first-of-type dl {
    font-size: 16px;
    line-height: 26px;
    display: grid;
    grid-template-columns: 100px 1fr;
  }

  .detail>div:first-of-type dl dt,
  .detail>div:first-of-type dl dd {
    padding: 10px 0px;
    margin: 0;
    border-bottom: 1px #0a0a0a solid;
  }

  .detail>div:first-of-type a {
    margin-top: auto;
  }

  /* 오른쪽 */
  /* 모달 */
  .detail .modal {
    display: none;
    position: fixed;
    /* 화면 기준으로 고정 */
    inset: 0;
    /* top: 0; right: 0; bottom: 0; left: 0; 한 번에 쓴 것*/
    background: rgba(10, 10, 10, 0.8);
    justify-content: center;
    align-items: center;
    /* 정가운데 배치 */
    z-index: 100;
  }

  .detail .modal.on {
    display: flex;
  }

  .detail .modal img {
    width: 66.666%;
    /* = 2/3 */
    max-width: 900px;
    /* 너무 커지는 것 방지 */
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
  }

  .detail .modal .close {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: 0;
    cursor: pointer;
  }

  .detail .modal .close .material-symbols-outlined {
    color: #fff;
  }

  .detail>div:last-of-type {
    width: 950px;
  }

  .detail>div:last-of-type figure img {
    width: 100%;
    height: 100%;
    display: block;
    aspect-ratio: 4 / 1;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .detail>div:last-of-type ul {
    width: 100%;
    display: flex;
    gap: 10px;
  }

  .detail>div:last-of-type ul li {
    flex: 1;
  }

  .detail>div:last-of-type ul li strong {
    display: block;
    border: 1px #0a0a0a solid;
    padding: 10px;
  }

  .detail>div:last-of-type ul li img {
    width: 100%;
    display: block;
    /* 이미지 아래에 생기는 이상한 여백 제거 */
    aspect-ratio: 4 / 3;
    object-fit: cover;
    overflow: hidden;
    border: 1px #0a0a0a solid;
    border-top: 0px;
    padding: 10px;
    cursor: pointer;
  }

  /* ---------- OUR PROCESS----------  */
  .process {
    background-color: #ffffff;
    padding: 60px 60px 50px;
  }

  .process>h2,
  .process>b {
    width: 330px;
  }

  .process ul {
    display: flex;
    justify-content: space-between;
  }

  .process li {
    border: 1px #0a0a0a solid;
    width: 185px;
    padding: 25px;
    text-align: center;
  }

  .process .process-icon {
    display: block;
    font-size: 50px;
    margin-bottom: 20px;
    font-variation-settings:
      'FILL' 0,
      'wght' 300,
      'GRAD' 0,
      'opsz' 48;
  }

  .process strong {
    display: block;
    font-size: 16px;
    line-height: 26px;
  }

  .process ul li b {
    display: block;
    font-size: 16px;
    line-height: 26px;
  }

  .process p {
    font-size: 16px;
    line-height: 26px;
  }

  /* ---------- footer----------  */
  footer {
    background-color: #0a0a0a;
    padding: 60px 20px 50px;
  }

  footer .inner>div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: #ffffff;
  }

  footer .inner>div div,
  footer .inner>div img {
    width: 300px;
  }

  footer .inner>div h2::after {
    background-color: #ffffff;
  }

  /* 두번째 */
  footer .inner>div form fieldset legend,
  footer .inner>div form fieldset ul li label {
    /* 시각적으로는 숨기지만 스크린 리더는 읽을 수 있도록 접근성을 위해 사용*/
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }

  footer .inner>div form fieldset ul {
    display: flex;
    flex-wrap: wrap;
    /* 공간이 부족하면 다음 줄로 배치 */
    gap: 10px;
  }

  footer .inner>div form fieldset ul li:first-of-type,
  footer .inner>div form fieldset ul li:nth-of-type(2) {
    width: calc((100% - 10px) / 2);
  }

  footer .inner>div form li:nth-child(3),
  footer .inner>div form li:nth-child(4),
  footer .inner>div form li:nth-child(5) {
    width: 100%;
  }

  footer .inner>div form fieldset ul li input,
  footer .inner>div form fieldset ul li textarea,
  footer .inner>div form fieldset ul li button {
    width: 100%;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
  }

  footer .inner>div form fieldset ul li input::placeholder,
  footer .inner>div form fieldset ul li textarea::placeholder {
    color: #ffffff;
  }

  footer .inner>div form fieldset ul li input,
  footer .inner>div form fieldset ul li textarea,
  footer .inner>div form fieldset ul li button {
    font: inherit;
    font-size: 16px;
    padding: 15px 20px;
  }

  footer .inner>div form fieldset ul li button {
    cursor: pointer;
  }

  footer .inner>div form fieldset ul li input:focus::placeholder,
  footer .inner>div form fieldset ul li textarea:focus::placeholder {
    opacity: 0;
  }

  footer img {
    object-fit: cover;
    filter: brightness(0.7);
  }

  footer .inner>div>div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer .inner>div>div:last-of-type h2 {
    max-width: 200px;
  }

  footer .inner>div>div:last-of-type h2 a {
    display: block;
  }

  footer .inner>div>div:last-of-type h2 a img {
    width: 100%;
    display: block;
  }

  footer .inner>div>div:last-of-type>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
  }

  footer .inner>div>div:last-of-type>div ul {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  footer .inner>div>div:last-of-type>div ul li {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  footer .inner>div>div:last-of-type>div ul li:not(:nth-child(2)):not(:nth-child(3)) {
    width: 16px;
    height: 16px;
  }

  footer .inner>div>div:last-of-type>div ul li:first-child {
    background-image: url("../images/instagram.png");
  }

  footer .inner>div>div:last-of-type>div ul li:nth-child(2) {
    background-image: url("../images/youtube.png");
    width: 18px;
  }

  footer .inner>div>div:last-of-type>div ul li:nth-child(3) {
    background-image: url("../images/tiktok.png");
    width: 16px;
    /* height: 18px; */
  }

  footer .inner>div>div:last-of-type>div ul li:nth-child(4) {
    background-image: url("../images/twitter.png");

  }

  footer .inner>div>div:last-of-type>div ul li:last-child {
    background-image: url("../images/pinterest.png");
  }

  footer .inner>div>div:last-of-type>div ul li a {
    display: block;
    text-indent: -9999px;
    width: 100%;
    height: 20px;
  }

  footer .inner>p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
  }
}